
@{
    ViewBag.Title = "Tedarikçiler";
}

@using MVC_CircloidTemplate.Models

@model  List<Supplier>


@section head{
    <style>
        .hata {
            color: red;
        }
    </style>

    <script src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>

    <script>
        //$(document).ready(function () {

        //    $(".modalAc").click(function () {
        //        const sirketAdi = $(this).attr("data-cmpName");
        //        const id = $(this).attr("data-supID");
        //        console.log(sirketAdi, id);   //verilerin değerlerini görmemizi sağlıyor.
        //        $(".modal-body > p.mesaj").html(sirketAdi + " tedarikçi silinsin mi?");
        //        $(".tedModalSil").attr("data-supID", id);
        //    });


        $(document).ready(function () {
            $(".modalAc").click(function () {
                const sirketAdi = $(this).attr("data-cmpName");
                const id = $(this).attr("data-supID");
                console.log(sirketAdi, id);
                alert(sirketAdi);
                alert(id);
                $(".modal-body > p.mesaj").html(sirketAdi + " tedarikçisi silinsin mi?");
                $(".tedModalSil").attr("data-supID", id);
            });

            $(".tedModalSil").click(function () {

                const supid = $(this).attr("data-supID");
                console.log(supid);
                $.ajax({
                    type: "POST",
                    url: "/Supplier/DeleteSupplier/" + supid,
                    success: function (durum) {
                        if (durum === "OK") {
                            alert("Kayıt Silindi.");
                            window.location.replace("/Supplier/Index");
                        }
                        else {
                            alert("else Kayıt silme sırasında hata oluştu.");
                        }
                    },
                    error: function () {
                        alert("Error Kayıt Silme sırasında hata oluştu.");
                    }

                })
            });

        });

    </script>

}


<div class=" row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Tedarikçi Listesi
                </div>
                <div class="block-controls">

                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                    @*<button type="button" class="btn btn-success rounded">Success Button</button>*@
                    <a href="/Supplier/AddSupplier" class="btn btn-success rounded" role="button">Tedarikçi Ekle</a>

                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Supplier ID</th>
                                <th>Company Name</th>
                                <th>Adress</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                                <th>Modal ile Sil</th>


                            </tr>
                        </thead>
                        <tbody>

                            @foreach (Supplier sup in Model)
                            {

                                <tr>
                                    <td>@sup.SupplierID</td>
                                    <td><span class="label label-primary">@sup.CompanyName</span></td>
                                    <td><span class="label label-primary">@sup.Address</span></td>


                                    <td><a href="/Supplier/UpdateSupplier/@sup.SupplierID" class="btn btn-warning rounded">Güncelle</a></td>
                                    <td><a href="/Supplier/DeleteSupplier?supID=@sup.SupplierID" class="btn btn-danger rounded">Sil</a></td>

                                    <td>
                                        <button class="btn btn-danger rounded modalAc" data-toggle="modal" data-target="#myModal" data-supID="@sup.SupplierID" data-cmpName="@sup.CompanyName">
                                            Modal ile Sil
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@*@section body{
    <div class="modal fade small-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="small-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="small-modal-label">Tedarikçi Silme</h4>
                </div>
                <div class="modal-body">
                    <p class="mesaj"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-danger tedModalSil">Sil</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}*@




@section body
    {
    <div class="modal fade small-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="small-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="small-modal-label">Modalla Silme</h4>
                </div>
                <div class="modal-body">
                    <p class="mesaj" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-danger tedModalSil">Sil</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}